.big-100 {
  @include responsivecolumn-item(100%);
}
.big-80 {
  @include responsivecolumn-item(80%);
}
.big-60 {
  @include responsivecolumn-item(60%);
}

.big-50 {
  @include responsivecolumn-item(50%);
}

.big-40 {
  @include responsivecolumn-item(40%);
}

.big-33 {
  @include responsivecolumn-item(33.33%);
}

.big-20 {
  @include responsivecolumn-item(20%);
}
.hr {
  color: $color-blue;
  background-color: $color-blue;
}
//--------------------------------------------------------
// And classes for small-size responsive items

.x-responsivecolumn-small {
  > .small-100 {
    @include responsivecolumn-item(100%);
  }

  > .small-50 {
    @include responsivecolumn-item(50%);
  }
}

.sencha-logo {
  background-color: $base-color;
  height: 65px;

  font-size: 16px;
  color: $lightest-color;
  margin-left: 17px;

  .main-logo {
    line-height: 65px;
    img{
      margin-left: 22px;
      margin-right: 22px;
      top: 8px;
      position: relative;
    }
  }
}

.sencha-dash-dash-headerbar {
  padding:0 30px 0 0;
  position:fixed;
  width:100%;
  z-index:10;
  border:none;
  .header-right-profile-image {
    border-radius: 20px;
  }
}
.top-english-button{
  .x-btn-icon-el{
    width:21px;
    height:14px;
  }
}
.collapsed{
  .hot-icon,.new-icon{
    &:after{
      display:none;
    }
  }
  .x-tree-elbow-img{
    display:none;
  }

  .x-tree-node-text {
    display:none;
  }
}
.x-grid-cell{
  position:relative;
}
.hot-icon,.new-icon{
  &.hot-icon:after{
    content: "HOT";
    background:#e3495a;
  }
  &.new-icon:after{
    content: "NEW";
    background:$base-color;
  }
  &:after{
    height: 18px;
    width: 34px;
    display: inline-block;
    position: absolute;
    top: 22px;
    right: -180px;
    text-align:center;
    color: $lightest-color;
    font-weight: bold;
    font-size: 10px;
    line-height: 18px;
  }
}

.x-treelist-item-tool {
  height: $panel-navigation-item-line-height;
  &.hot-icon:after, &.new-icon:after{
    background: $panel-header-background-color;
    content: '';
  }
}

.toolbar-btn-shadow{
  @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
  .x-btn-over{
    background-color: $button-toolbar-hover-background-color;
  }
}

//Add border around html editor field
.x-html-editor-input{
  border:1px solid #ccc;
}

.delete-focus-bg {
  &:focus, &:hover{
    background: none;
  }
}

//UI Styles for buttons
@include extjs-button-small-ui(
        $ui: 'soft-blue',
        $background-color: $color-soft-blue,
        $border-color: darken($color-soft-blue, 5%)
);
@include extjs-button-large-ui(
        $ui: 'soft-blue',
        $line-height: 34px,
        $background-color: $color-soft-blue,
        $border-color: darken($color-soft-blue, 5%)
);
@include extjs-button-toolbar-small-ui(
        $ui: 'soft-blue',
        $background-color: $color-soft-blue,
        $border-color: darken($color-soft-blue, 5%)
);


@include extjs-button-small-ui(
        $ui: 'soft-cyan',
        $background-color: $color-soft-cyan,
        $border-color: darken($color-soft-cyan, 5%)
);
@include extjs-button-toolbar-small-ui(
        $ui: 'soft-cyan',
        $background-color: $color-soft-cyan,
        $border-color: darken($color-soft-cyan, 5%)
);


@include extjs-button-small-ui(
        $ui: 'soft-green',
        $background-color: $color-soft-green,
        $border-color:darken($color-soft-green, 5%)
);
@include extjs-button-large-ui(
        $ui: 'soft-green',
        $line-height: 34px,
        $background-color: $color-soft-green,
        $border-color:darken($color-soft-green, 5%)
);
@include extjs-button-toolbar-small-ui(
        $ui: 'soft-green',
        $background-color: $color-soft-green,
        $border-color:darken($color-soft-green, 5%)
);



@include extjs-button-small-ui(
        $ui: 'soft-red',
        $background-color: $color-soft-red,
        $border-color:darken($color-soft-red, 5%)
);
@include extjs-button-toolbar-small-ui(
        $ui: 'soft-red',
        $background-color: $color-soft-red,
        $border-color:darken($color-soft-red, 5%)
);


@include extjs-button-small-ui(
        $ui: 'soft-purple',
        $background-color: $color-soft-purple,
        $border-color:darken($color-soft-purple, 5%)
);
@include extjs-button-toolbar-small-ui(
        $ui: 'soft-purple',
        $background-color: $color-soft-purple,
        $border-color:darken($color-soft-purple, 5%)
);


@include extjs-button-small-ui(
        $ui: 'gray',
        $background-color: $color-gray,
        $border-color:darken($color-gray, 5%)
);
@include extjs-button-large-ui(
        $ui: 'gray',
        $line-height: 34px,
        $background-color: $color-gray,
        $border-color:darken($color-gray, 5%)
);
@include extjs-button-toolbar-small-ui(
        $ui: 'gray',
        $background-color: $color-gray,
        $border-color:darken($color-gray, 5%)
);

@include extjs-button-small-ui(
        $ui: 'green',
        $background-color: $color-green,
        $border-color:darken($color-green, 5%)
);
@include extjs-button-toolbar-small-ui(
        $ui: 'green',
        $background-color: $color-green,
        $border-color:darken($color-green, 5%)
);


@include extjs-button-small-ui(
        $ui: 'blue',
        $background-color: $color-blue,
        $border-color:darken($color-blue, 5%)
);
@include extjs-button-toolbar-small-ui(
        $ui: 'blue',
        $background-color: $color-blue,
        $border-color:darken($color-blue, 5%)
);